:root {
  --accent-1: #fafafa;
  --accent-2: #f8f8f8;
  --accent-3: #e8e8e8;
  --accent-4: #d8d8d8;
  --accent-5: #444444;
  --accent-6: #222222;
  --background: #ffffff;
  --foreground: #000000;
  --blue: #415cf6;
  --purple: #7b61ff;
  --red: #fa3232;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  background-color: var(--accent-2);
}

button {
  cursor: pointer;
}

input {
  background-color: var(--background);
  padding: 0.5rem 1rem;
  border: 2px solid transparent;
  border-radius: 0.25rem;
  &[type="color"] {
    padding: 0;
    height: 37.6px;
    width: 37.6px;
    cursor: pointer;
    appearance: none;
    overflow: hidden;
    &::-webkit-color-swatch {
      border: unset;
    }
    &::-webkit-color-swatch-wrapper {
      padding: 0;
    }
  }
}

::-webkit-input-placeholder {
  color: var(--accent-4);
}

::-moz-placeholder {
  color: var(--accent-4);
}

::-ms-placeholder {
  color: var(--accent-4);
}

::placeholder {
  color: var(--accent-4);
}

* {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  box-sizing: border-box;
}
