.root {
  display: grid;
}

.container {
  padding: 3rem 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 3rem;
  row-gap: 3rem;
}

.contents {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}
